

.music-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1.5rem;
  
  background-image: url('../../../public/image/blacknwhite1.JPG');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  overflow-y: auto;
}
.music-page nav{
  align-self: start;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 1.5rem; 
  
}

  .album-img{
    width: 100%
  
  }

  .album-container h2 {
    color: white;
    margin-bottom: 0;
    align-self: start;

  }

  .album-container p, a {
    font-size: 16px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
    color: white;
    align-self: start;
    
  }
  .single-album{
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
  }
  .single-album a{
    text-decoration: none;
    color: white;
    
  }

  @media (min-width: 768px){

  }

  @media (min-width: 1024px) {

  }


  
