/* General styles (Mobile First) */
.video-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1.5rem;
    background-image: url('../../../public/image/sls.png');
  }
  
  .video-container {
    max-width: 100%; /* Full width on mobile */
    width: 100%;
    text-align: center; /* Center text */
    padding: 0 1rem; /* Add padding for small screens */
  }
  
  .youtube-video {
    width: 100%;
    height: 200px; /* Smaller height for mobile */
    border: none; /* Remove border */
    padding: 1rem 0 1rem 0;
  }
  
  /* Desktop styles */
  @media (min-width: 768px) {
    .video-screen {
      padding: 2rem;
    }
  
    .video-container {
      max-width: 800px; /* Limit width for larger screens */
    }
  
    .youtube-video {
      height: 450px; /* Larger height for desktop */
    }
  }
  
  /* Larger screens (Desktops and large tablets) */
  @media (min-width: 1024px) {
    .video-screen {
      padding: 3rem;
    }
  
    .video-container {
      max-width: 1000px; /* Wider max width for large screens */
    }
  
    .youtube-video {
      height: 550px; /* Increase height further for larger screens */
    }
  }
  
  